<div class="container" style="margin-left: 2%">
  <h2>Acerca de este cliente</h2>

  <h2>Datos</h2>
  <table class="table">
    <thead class="thead-light">
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Identificacion</th>
      <th scope="col">Método Pago</th>
      <th scope="col">Tarjeta</th>
    </thead>
    <tbody id="listing-detail">
      <tr>
        <td>{{clienteDetail.id}}</td>
        <td>{{clienteDetail.nombre}}</td>
        <td>{{clienteDetail.identificacion}}</td>
        <td>{{clienteDetail.metodoPago}}</td>
        <td> Hola </td>
      </tr>
    </tbody>
  </table>

  <div>
      <h2 style="margin-bottom: 3%" id="Titulito">Reservas</h2>
      <button type="button" (click)="showHideCreate()" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">Crear reserva</button>
  </div>
  <table class="table" *ngIf="showReservas">
    <thead class="thead-light">
      <th>Id</th>
      <th>Sucursal</th>
      <th>Fecha</th>
      <th>Mesa</th>
    </thead>
    <tbody id="listing-detail">
      <tr *ngFor="let reserva of clienteDetail.reservas">
        <td>{{reserva.id}}</td>
        <td>{{reserva.sucursal.direccion  }}</td>
        <td>{{reserva.hora  | date:"M/d/yy - h:mm a"}}</td>
        <td>{{reserva.mesa.numero}}</td>
      </tr>
    </tbody>
  </table>

  <div>
      <h2 style="margin-bottom: 3%" id="Titulito">Domicilios</h2>
      <button type="button" (click)="showHideCreate()" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">Crear domicilio</button>
  </div>
  <table class="table" style="margin-top: 2%" *ngIf="showDomicilios">
    <thead class="thead-light">
        <th>Id</th>
        <th>Nombre</th>
    </thead>
    <tbody id="listing-detail">
      <tr *ngFor="let domicilio of clienteDetail.domicilios">
        <td>{{domicilio.id}}</td>
        <td>{{domicilio.name}</td>
      </tr>
    </tbody>
  </table>
</div>