<div class="container-fluid" style="margin: 2% 0 0% 2%">
<h3>Platos</h3>
<button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
            (click)="showHideCreate()">Crear
            un plato</button>
        <div *ngIf="showCreate">
            <app-plato-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-plato-create>
        </div>


<div class="row">
      <div class="card" style="width: 18rem;"  (click)="onSelected(plato.id)" *ngFor="let plato of platos">
          <img class="card-img-top" src="{{plato.imagen}}" alt="Card image cap">
          <div class="card-body">
          <p class="card-text">{{plato.id}}.   {{plato.name}} :  ${{plato.precio}}</p>
          <button type="button" class="btn btn-primary" (click)="showEdit(); onSelected(plato.id)"data-toggle="modal" data-target="#exampleModalCenter">
              Editar
            </button>
          </div>
       </div>
</div>

</div>

<div *ngIf="edit">
    <app-plato-edit [plato]="selectedPlato"></app-plato-edit>
</div>
