<div class="container-fluid">
  <div class="col-md-2">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                    <th colspan="2">Plato </th>    
              </tr>
          </thead>
          <tbody>
                
                <th>Nombre</th>
                <th>precio</th>
                <tr *ngFor="let cliente of clientes">
                    <td>{{plato.nombre}}</td>
                    <td>{{plato.precio}}</td>
                    
                </tr>
            </tbody>
      </table>
  </div>
