<div class="container" style="margin-left: 2%">
  <h3>Acerca de este cliente</h3>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th colspan="5" style="text-align: center">Datos</th>
      </tr>
    </thead>
    <tbody>
      <th>Id</th>
      <th>Nombre</th>
      <th>Identificacion</th>
      <th>Método Pago</th>
      <th>Tarjeta</th>
      <tr>
        <td>{{clienteDetail.id}}</td>
        <td>{{clienteDetail.nombre}}</td>
        <td>{{clienteDetail.identificacion}}</td>
        <td>{{clienteDetail.metodoPago}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped " *ngIf="showReservas">
    <thead class="thead-dark">
      <tr>
        <th colspan="4" style="text-align: center; margin-top: 2%">Reservas</th>
      </tr>
    </thead>
    <tbody>
      <th>Id</th>
      <th>Sucursal</th>
      <th>Fecha</th>
      <th>Mesa</th>
      <tr *ngFor="let reserva of clienteDetail.reservas">
        <td>{{reserva.id}}</td>
        <td>{{reserva.sucursal.direccion  }}</td>
        <td>{{reserva.hora  | date:"M/d/yy - h:mm a"}}</td>
        <td>{{reserva.mesa.numero}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-dark" style="margin-top: 2%" *ngIf="showDomicilios">
    <thead>
      <tr>
        <th colspan="2" style="text-align: center">Domicilios</th>
      </tr>
    </thead>
    <tbody>
      <th>Id</th>
      <th>Nombre</th>
      <tr *ngFor="let domicilio of clienteDetail.domicilios">
        <td>{{domicilio.id}}</td>
        <td>{{domicilio.name}</td>
      </tr>
    </tbody>
  </table>
</div>