<div class="container" style="margin-left: 2%">
  <h3>Acerca de este cliente</h3>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th colspan="4" style="text-align: center">Datos</th>
      </tr>
    </thead>
    <tbody>
      <th>Id</th>
      <th>Nombre</th>
      <th>Método Pago</th>
      <th>Tarjeta</th>
      <tr>
        <td>{{clienteDetail.id}}</td>
        <td>{{clienteDetail.nombre}}</td>
        <td>{{clienteDetail.metodoPago}}</td>
        <td>df</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-dark">
    <thead>
      <tr>
        <th colspan="3" style="text-align: center; margin-top: 2%">Reservas</th>
      </tr>
    </thead>
    <tbody>
      <th>Id</th>
      <th>Nombre</th>
      <th>Hora</th>
      <tr *ngFor="let reserva of reservas">
        <td>{{reserva.id}}</td>
        <td>{{reserva.nombre}</td>
        <td>{{reserva.hora}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-dark" style="margin-top: 2%">
    <thead>
      <tr>
        <th colspan="2" style="text-align: center">Domicilios</th>
      </tr>
    </thead>
    <tbody>
      <th>Id</th>
      <th>Nombre</th>
      <tr *ngFor="let domicilio of domicilios">
        <td>{{domicilio.id}}</td>
        <td>{{domicilio.name}</td>
      </tr>
    </tbody>
  </table>
</div>