<div class="container" style="margin-left: 2%">
  <h3>Acerca de esta sucursal</h3>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th colspan="4" style="text-align: center">Datos</th>
      </tr>
    </thead>
    <tbody>
      <th>Id</th>
      <th>Direccion</th>
      <th>Calificacion</th>
      <th>Mesas</th>
      
      <tr>
        <td>{{sucursalDetail.id}}</td>
        <td>{{sucursalDetail.direccion}}</td>
        <td>{{sucursalDetail.promedio | number : '1.2-2'}}</td>
        <td>{{sucursalDetail.numMesas}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped " *ngIf="showPlatos">
    <thead class="thead-dark">
      <tr>
        <th colspan="3" style="text-align: center; margin-top: 2%">Platos</th>
      </tr>
    </thead>
    <tbody>
      <th>Id</th>
      <th>Nombre</th>
      <th>Precio</th>
      <tr *ngFor="let plato of sucursalDetail.platos">
        <td>{{plato.id}}</td>
        <td>{{plato.name }}</td>
        <td>{{plato.precio}}</td>
      </tr>
    </tbody>
  </table>

