<div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h2 class="text-center">Crear una sucursal</h2>
            <br>
            <form name="sucursal" (ngSubmit)="f.form.valid && createSucursal()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="sucursalDireccion"><b>Direccion</b></label>
                    <input type="text" name="sucursalDireccion" class="form-control" id="sucursalDireccion" [(ngModel)]="sucursal.direccion"
                        #sucursalDireccion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sucursalDireccion.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Falta una direccion</div>
                    </div>
                </div>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
        </div>
    </div>