
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center">
                          <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                              (click)="showHideCreate()">Crear una reserva</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="5">Reservas</th>
                    </tr>
                </thead>
                <tbody>

                    <th>Id</th>
                    <th>Fecha</th>
                    <th>CantidadPersonas</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>


                    <tr *ngFor = "let reserva of reservas">
                        <td style="cursor: pointer;">
                            <dd class="figure-caption" routerLink="/reservas/{{reserva.id}}">{{reserva.id}}</dd>
                        </td>
                        <td>{{reserva.hora | date:"M/d/yy - h:mm a"}}</td>
                        <td>{{reserva.cantidadPersonas}}</td>
                        <td>
                          <button type="button" class="btn btn-primary" (click)="showEdit(); onSelected(reserva.id, reserva.sucursal.id)"data-toggle="modal" data-target="#exampleModalCenter">
                              Editar
                          </button>
                        </td>
                        <td >
                            <button class="btn btn-danger" (click)="deleteReserva(reserva.id)"><span class="fa fa-trash"></span></button>
                        </td>


                    </tr>

                </tbody>


            </table>
        </div>
        <div class="col-md-8">
            <div *ngIf="showCreate">
                <app-reserva-create (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate"></app-reserva-create>
            </div>
        </div>

    </div>
</div>

<div *ngIf="edit">
    <app-reserva-edit [reserva_id]="reserva_id" ></app-reserva-edit>
</div>
