<div class="container-fluid">
    <div class="col-md-4 ">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="3">Reservas</th>
                </tr>
            </thead>
            <tbody>

                <th>Id</th>
                <th>Fecha</th>
                <th>CantidadPersonas</th>


                <tr *ngFor = "let reserva of reservas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/reservas/{{reserva.id}}">{{reserva.id}}</dd>
                    </td>
                    <td>{{reserva.hora}}</td>
                    <td>{{reserva.cantidadPersonas}}</td>

                </tr>

            </tbody>
        </table>
    </div>
