<div style="padding-right: 5%">
    <br>
    <h2 class="text-center">Crear un cliente</h2>
    <div class="alert alert-success" role="alert" style="margin: 4% 2% 0% 2%" *ngIf="success">
        ¡El cliente fue creado con éxito!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br>

    <form name="cliente" (ngSubmit)="f.form.valid && createCliente()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="clienteNombre"><b>Nombre</b></label>
            <input type="text" name="clienteNombre" class="form-control" id="clienteNombre" [(ngModel)]="cliente.nombre"
                #clienteNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteNombre.invalid }" required>
            <div class="invalid-feedback">
                <div>Falta el nombre del cliente</div>
            </div>
        </div>
        <div class="form-group">
            <label for="clienteMetodoPago"><b>Método de pago</b></label>
            <div [ngClass]="{ 'is-invalid': f.submitted && clienteMetodoPago.invalid }">
                <input type="text" name="clienteMetodoPago" class="form-control" id="clienteMetodoPago" [(ngModel)]="cliente.metodoPago"
                    #clienteMetodoPago="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteMetodoPago.invalid }"
                    required>
                <div class="invalid-feedback">
                    <div>Falta el método de pago del cliente</div>
                </div>
            </div>
        </div>
        <div class="row form-inline justify-content-center align-self-center">
            <button type="submit" class="btn btn-primary" style="margin-right: 1%">Create</button>
            <button type="button" class="btn btn-danger" (click)="cancelCreation()"style="margin-left: 1%">Cancel</button>
        </div>
    </form>
</div>