<div class="col-md-12">
    <div class="container-fluid">
        <p class="h3 p-3">ID: {{reservaDetail.id}}</p>
        <p class="h3 p-3">Cantidad Personas: {{reservaDetail.cantidadPersonas}}</p>
        <p class="h3 p-3">Hora: {{reservaDetail.hora | date:"M/d/yy - h:mm a"}}</p>
        <p class="h3 p-3">Sucursal: {{reservaDetail.sucursal.direccion}}</p>
        <p class="h3 p-3">Cliente: {{reservaDetail.cliente.nombre}}</p>
        <p class="h3 p-3">Numero de Mesa: {{reservaDetail.mesa.numero}}</p>
    </div>
</div>
