<!--The content below is only a placeholder and can be replaced.-->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="clientesTag" class="nav-link" routerLink="/clientes">Clientes</a>
  </li>
  <li class="nav-item">
    <a id="domiciliosTag" class="nav-link" routerLink="/domicilios">Domicilios</a>
  </li>
  <li class="nav-item">
    <a id="mesasTag" class="nav-link" routerLink="/mesas">Mesas</a>
  </li>
  <li class="nav-item">
    <a id="platosTag" class="nav-link" routerLink="/platos">Platos</a>
  </li>
  <li class="nav-item">
    <a id="reservasTag" class="nav-link" routerLink="/reservas/list">Reservas</a>
  </li>
  <li class="nav-item">
    <a id="sucursalesTag" class="nav-link" routerLink="/sucursales">Sucursales</a>
  </li>
</ul>

<div class="list">
  <router-outlet></router-outlet>
</div>