<div style="padding-right: 5%">
  <br>
  <h2 class="text-center">Crear un domicilio</h2>
  <br>
  <form name="domicilio" (ngSubmit)="f.form.valid && createDomicilio()" #f="ngForm" novalidate>
      <div class="form-group">
          <label for="domicilioCliente"><b>Cliente</b></label>
          <input type="text" name="domicilioCliente" class="form-control" id="domicilioCliente" [(ngModel)]="domicilio.Cliente"
              #domicilioCliente="ngModel" [ngClass]="{ 'is-invalid': f.submitted && domicilioCliente.invalid }" required>
          <div class="invalid-feedback">
              <div>Falta el Cliente del domicilio</div>
          </div>
      </div>
      <div class="form-group">
          <label for="domicilioCosto"><b>Costo</b></label>
          <div [ngClass]="{ 'is-invalid': f.submitted && domicilioCosto.invalid }">
              <input type="text" name="domicilioCosto" class="form-control" id="domicilioCosto" [(ngModel)]="domicilio.Costo"
                  #domicilioCosto="ngModel" [ngClass]="{ 'is-invalid': f.submitted && domicilioCosto.invalid }"
                  required>
              <div class="invalid-feedback">
                  <div>Falta el Costo del domicilio</div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <label for="domicilioDirrecion"><b>Direccion</b></label>
          <div [ngClass]="{ 'is-invalid': f.submitted && domicilioDirrecion.invalid }">
              <input type="text" name="domicilioDirrecion" class="form-control" id="domicilioDirrecion" [(ngModel)]="domicilio.Dirrecion"
                  #domicilioDirrecion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && domicilioDirrecion.invalid }"
                  required>
              <div class="invalid-feedback">
                  <div>Falta el Direccion del domicilio</div>
              </div>
          </div>
      </div>
      <div class="row form-inline justify-content-center align-self-center">
          <button type="submit" class="btn btn-primary">Create</button>
          <div class="divider"></div>
          <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
      </div>
  </form>
</div>
