<div class="container-fluid" style="margin: 2% 0 0% 2%">
    <h3>Sucursales</h3>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="4">Sucursales</th>
                    </tr>
                </thead>
                <tbody>
                    <th>Id</th>
                    <th>Direccion</th>
                    <th>Mesas</th>
                    <th>Calificaciones</th>
                    <tr *ngFor="let sucursal of sucursales" (click)="onSelected(sucursal.id)">
                        <td style="cursor: pointer;">{{sucursal.id}}</td>
                        <td style="cursor: pointer;">{{sucursal.direccion}}</td>
                        <td><style>
.button {
    background-color: #2B3BE4;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: blue;
}
</style>
<button class="button">Mesas</button>
</td>
<td><style>
.button {
    background-color: #2B3BE4;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: blue;
}
</style>
<button class="button">Calificaciones</button>
</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3" id="detail">
            <div *ngIf="selectedSucursal">
                <app-sucursal-detail [sucursalDetail]="selectedSucursal"></app-sucursal-detail>
            </div>
        </div>
        <div class="col-md-4">
            <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                (click)="showHideCreate()">Crear
                una sucursal</button>
            <div *ngIf="showCreate">
                <app-sucursal-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-sucursal-create>
            </div>
        </div>
    </div>
</div>