/* You can add global styles to this file, and also import other style files */

#inicio{
    margin-left: 1rem;
}
.navbar-nav > li,#signup-navbar-item, #logout-navbar-item, #nav-sitem{
    font-size: large;
    font-family: 'Merienda One', cursive;
    color: #512C1F;
}

.navbar{
    display:flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

.navbar-nav{
    background: rgba(240, 231, 220, 0.7);
    align-items: center;
    position: fixed;
    top: 2rem;
    right: 1rem;
}

.navbar-nav > .btn-secondary{
    background: #512C1F;
    width:125px;
    height: 34px;
    border-radius: 8px;
    margin-right: 1rem;
}

.login-button{
    font-family: 'Merienda One', cursive;
}

.navbar-collapse{
    flex-grow: 0;
}

.nav-item{
    margin: 0 1rem;
}

.bg-light{
    background-color: transparent !important;
}

#brand > img{
    max-width:20vw;
}

#admin{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size:10pt;
    margin-left: 10px;
}

.navbar-brand{
    padding-bottom: 0;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
    top:0;
}

.carousel-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item > .img-fluid{
    width:100vw;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

#cont-inicio{
    position: absolute;
    top:0;
    z-index: -1000;
    padding:0;
}

#fondo-dash{
    position:fixed;
    top:0;
}

.grid-container {
  display: grid;
  grid-template-column: 10px 10px 10px;
}

.grid-item{
  padding: 20px;
}
