/* You can add global styles to this file, and also import other style files */

#inicio{
    margin-left: 0;
}
.navbar-nav > li{
    margin-left:40px;
    margin-right:40px;
    float: none;
    display: inline-block;
    padding-bottom: 0;
    font-size: large;
}

.navbar-nav{
    margin: auto;
}

#brand{
    font-family: "Lobster", cursive;
    font-size: 3em;
    padding-left: 40px;
    padding-bottom: 0;
}

#admin{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size:10pt;
    margin-left: 10px;
}

.navbar-brand{
    padding-bottom: 0;
}
