<div class="containter">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img src="../../assets/Inicio.jpeg" alt="Inicio" class="img-fluid">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/Reservas.jpeg" alt="Inicio" class="img-fluid">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/Domicilios.jpeg" alt="Inicio" class="img-fluid">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/Inicio.jpeg" alt="Inicio" class="img-fluid">
    </ng-template>
  </ngb-carousel>
</div>