<div class="container-fluid">
  <div class="col-md-2">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th colspan="5">Domicilios</th>    
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let domicilio of domicilios">
                  <th>Id</th>
                  <th>Direccion</th>
                  <th>costo</th>
                  <th>cliente</th>
                  <th>sucursal</th>
                  <td>{{domicilio.id}}</td>
                  <td>{{domicilio.direccion}}</td>
                  <td>{{domicilio.costo}}</td>
                  <td>{{domicilio.cliente}}</td>
                  <td>{{domicilio.sucursal}}</td>
              </tr>
          </tbody>
      </table>
      <div class="col-3">
            <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                (click)="showHideCreate()">Crear
                un domicilio</button>
            <div *ngIf="showCreate">
                <app-domicilio-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-domicilio-create>
            </div>
        </div>
  </div>